<!-- To add a number of classes: "[ngClass]="['selected']"" -->

<h3>Data from parent = '{{ dataFromParent }}'</h3>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <!-- Write in selectedHero.Name changes the heroes array, once it uses reference -->
    <!-- To avoid it, I should use a shallow copy, as '{...hero}' -->
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>